{
  "env": {
    "browser": true,
    "jquery": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-console": "off",
    "eqeqeq": "error",
    "no-else-return": "error"
  }
}
